<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/registro.css">
    <title>Registro</title>
</head>
<body>
<div class="container">
    <h2>Registro</h2>

    <div class="inline-text">
        <p>¿Ya tenés una cuenta? Iniciá sesión <a href="../formulario/login.html">aquí</a>.</p>
    </div>

    <form action="../home/home.html" method="post">
        <label for="nombre">Nombre:</label>
        <input class="input-document" id="nombre" name="nombre" required placeholder="Ej: Juan">

        <label for="apellido">Apellido:</label>
        <input class="input-document" id="apellido" name="apellido" required placeholder="Ej: Pérez">

        <label for="email">Correo electrónico:</label>
        <input type="email" id="email" name="email" required placeholder="Ej: ejemplo@correo.com">

        <label for="document">Número de documento:</label>
        <input class="input-document" id="document" name="document" required placeholder="Ej: 123456789">

        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required placeholder="Ej: ********">

        <label for="password_repeat">Repetir contraseña:</label>
        <input type="password" id="password_repeat" name="password_repeat" required placeholder="Ej: ********">

        <button type="submit">Crear cuenta</button>
    </form>
</div>
</body>
</html>