<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../styles/footer.css">
    <link rel="stylesheet" href="../../styles/header.css">
    <link rel="stylesheet" href="../../styles/general.css">
    <link rel="stylesheet" href="../../styles/comparacion.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <title>Comparacion de Planes</title>
</head>

<body class="flex flex-col min-h-screen">

    <header class="header-gradient p-4 flex items-center justify-between">
        <div class="text-white font-bold text-lg">
            <a href="#">Obra Social</a>
        </div>

        <nav class="hidden md:flex space-x-4">
            <a href="#" class="text-white hover:text-gray-300">Portal de Turnos</a>
            <a href="#" class="text-white hover:text-gray-300">Especialidades</a>
            <a href="#" class="text-white hover:text-gray-300">Sobre Nosotros</a>
        </nav>

        <div class="text-white flex items-center space-x-4">
            <div class="flex items-center">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" onclick="window.location.href='../formulario/login.html'">Iniciar Sesión</button>
            </div>
        </div>
    </header>

    <main class="flex flex-col items-center p-8 space-y-8">
        <div class="mb-8 titulo text-center w-full">
            <h1 class="font-bold text-2xl mb-4">Asociate a nuestro programa de beneficios</h1> <br>
            <h4>Contamos con un un programa de beneficios para que puedas acceder a los servicios de nuestros centros. Elige el plan que mejor se adapte a tus necesidades.</h4>
        </div>

        <div class="flex justify-around w-full">
            <div class="card bg-white shadow-lg rounded-lg p-6 w-1/4">
                <h2 class="font-bold text-2xl mb-4">Plan Classic</h2>
                <p>Nuestro plan classic te brinda nuestro exclusivo programa de beneficios, lo que te brinda la ventaja de recibir un descuento del 10% en los servicios de atención en nuestros centros. Solicitá tu credencial sin ningún costo adicional enviando un WhatsApp al número 11-2233-4455 o podes escribirnos por correo a bene@prueba.com.ar. ¡Aprovechá esta oportunidad para maximizar tus beneficios!</p>
            </div>

            <div class="card bg-white shadow-lg rounded-lg p-6 w-1/4">
                <h2 class="font-bold text-2xl mb-4">Plan Oro</h2>
                <p>Nuestro plan oro te ofrece una gama exclusiva de beneficios, incluyendo un 20% de descuento en todos los centros DIM y ópticas, hasta un 40% en ortopedias, 20% en asistencia al viajero, 30% en seguro médico, servicio de emergencias con coseguro las 24hs, y hasta un 50% de descuento en farmacias, entre otros beneficios. ¡No pierdas esta oportunidad para maximizar tus beneficios!</p>
            </div>

            <div class="card bg-white shadow-lg rounded-lg p-6 w-1/4">
                <h2 class="font-bold text-2xl mb-4">Plan Premium</h2>
                <p>Nuestro plan premium te ofrece una gama exclusiva de beneficios, incluyendo un 30% de descuento en todos los centros DIM y ópticas, hasta un 40% de descuento en ortopedias, 20% en asistencia al viajero, 30% en seguro médico, servicio de emergencias con coseguro las 24hs, y hasta un 50% de descuento en farmacias, entre otros beneficios. ¡No pierdas esta oportunidad para maximizar tus beneficios!</p>
            </div>
        </div>

        <div class="card card-contacto shadow-lg rounded-lg p-6 w-1/4">
            <h2 class="font-bold text-2xl mb-4">Contacto</h2>
            <hr class="mb-4">
            <p> <i class="fas fa-phone-alt"></i> Telefono: 11-2233-4455</p> <br>
            <p> <i class="fas fa-clock"></i> Lun-Vie 8 a 16hs y Sáb 8 a 12hs</p> <br>
            <p> <i class="fas fa-envelope"></i> Email: bene@prueba.com.ar </p> <br>
        </div>
    </main>

    <footer id="footer" class="footer align-items-center">
        <div>© Copyrigth 2024</div>
        <div>Todos los derechos reservados</div>
    </footer>

</body>

</html>
