<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../styles/footer.css">
    <link rel="stylesheet" href="../../styles/header.css">
    <link rel="stylesheet" href="../../styles/general.css">
    <link rel="stylesheet" href="../../styles/comparacion.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <title>Comparacion de Planes</title>
</head>

<body class="flex flex-col min-h-screen">
    <header class="header-gradient p-4 flex items-center justify-between relative">
        <!-- Botón de hamburguesa -->
        <div class="block md:hidden">
            <button id="menu-btn" class="focus:outline-none">
                <svg class="w-6 h-6 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
            </button>
        </div>
    
        <div class="absolute left-1/2 transform -translate-x-1/2 md:relative md:left-auto md:transform-none text-white font-bold text-lg">
            <a href="#">Obra Social</a>
        </div>
    
        <!-- Menú de navegación (oculto por defecto en móviles) -->
        <nav class="hidden md:flex space-x-4">
            <a href="../home/home.html" class="text-white hover:text-gray-300">Home</a>
            <a href="#" class="text-white hover:text-gray-300">Servicios</a>
            <a href="#" class="text-white hover:text-gray-300">Especialidades</a>
            <a href="#" class="text-white hover:text-gray-300">Sobre Nosotros</a>
        </nav>
    
        <div class="text-white flex items-center space-x-4">
            <div class="flex items-center">
                <img src="../../img/foto-perfil.webp" alt="Foto de perfil" class="h-10 w-10 rounded-full mr-2">
                <span class="hidden md:inline">Usuario</span>
            </div>
        </div>
    </header>
    <div id="side-menu" class="fixed inset-y-0 left-0 w-64 bg-gray-800 text-white transform -translate-x-full transition-transform md:hidden">
        <nav class="flex flex-col space-y-4 p-4">
            <button id="close-menu" class="text-white flex items-center justify-center focus:outline-none mb-4">
                <svg class="w-6 h-6 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
                <span>Volver</span>
            </button>
            <a href="../home/home.html" class="text-white hover:text-gray-300">Home</a>
            <a href="#" class="hover:text-gray-300">Servicios</a>
            <a href="#" class="hover:text-gray-300">Especialidades</a>
            <a href="#" class="hover:text-gray-300">Sobre Nosotros</a>
        </nav>
    </div>
    <main class="flex flex-col items-center p-8 space-y-8">
        <div class="mb-8 titulo text-center w-full">
            <h1 class="font-bold text-2xl mb-4">Asociate a nuestro programa de beneficios</h1> <br>
            <h4>Contamos con un un programa de beneficios para que puedas acceder a los servicios de nuestros centros. Elige el plan que mejor se adapte a tus necesidades.</h4>
        </div>

        <div class="flex justify-around w-full">
            <div class="card bg-white shadow-lg rounded-lg p-6 w-1/4">
                <h2 class="font-bold text-2xl mb-4">Plan Classic</h2>
                <p>Nuestro plan classic te brinda nuestro exclusivo programa de beneficios, lo que te brinda la ventaja de recibir un descuento del 10% en los servicios de atención en nuestros centros. Solicitá tu credencial sin ningún costo adicional enviando un WhatsApp al número 11-2233-4455 o podes escribirnos por correo a bene@prueba.com.ar. ¡Aprovechá esta oportunidad para maximizar tus beneficios!</p>
            </div>

            <div class="card bg-white shadow-lg rounded-lg p-6 w-1/4">
                <h2 class="font-bold text-2xl mb-4">Plan Oro</h2>
                <p>Nuestro plan oro te ofrece una gama exclusiva de beneficios, incluyendo un 20% de descuento en todos los centros DIM y ópticas, hasta un 40% en ortopedias, 20% en asistencia al viajero, 30% en seguro médico, servicio de emergencias con coseguro las 24hs, y hasta un 50% de descuento en farmacias, entre otros beneficios. ¡No pierdas esta oportunidad para maximizar tus beneficios!</p>
            </div>

            <div class="card bg-white shadow-lg rounded-lg p-6 w-1/4">
                <h2 class="font-bold text-2xl mb-4">Plan Premium</h2>
                <p>Nuestro plan premium te ofrece una gama exclusiva de beneficios, incluyendo un 30% de descuento en todos los centros DIM y ópticas, hasta un 40% de descuento en ortopedias, 20% en asistencia al viajero, 30% en seguro médico, servicio de emergencias con coseguro las 24hs, y hasta un 50% de descuento en farmacias, entre otros beneficios. ¡No pierdas esta oportunidad para maximizar tus beneficios!</p>
            </div>
        </div>

        <div class="card card-contacto shadow-lg rounded-lg p-6 w-1/4">
            <h2 class="font-bold text-2xl mb-4">Contacto</h2>
            <hr class="mb-4">
            <p> <i class="fas fa-phone-alt"></i> Telefono: 11-2233-4455</p> <br>
            <p> <i class="fas fa-clock"></i> Lun-Vie 8 a 16hs y Sáb 8 a 12hs</p> <br>
            <p> <i class="fas fa-envelope"></i> Email: bene@prueba.com.ar </p> <br>
        </div>
    </main>

    <footer id="footer" class="footer align-items-center">
        <div>© Copyrigth 2024</div>
        <div>Todos los derechos reservados</div>
    </footer>
    <script src="../../js/header.js"></script>
</body>
</html>
