<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alerta</title>
    <link rel="stylesheet" href="../../styles/footer.css">
    <link rel="stylesheet" href="../../styles/header.css">
    <link rel="stylesheet" href="../../styles/general.css">
    <link rel="stylesheet" href="../../styles/plan_salud.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body class="flex flex-col min-h-screen">

    <header>
        <div class="header-gradient w-full flex justify-between items-center p-4">
            <a href="../principal/solicitar_turno.html" class="text-white text-xl">&lt; volver</a>
            <div class="flex space-x-4">
                <p class="pr-2">Filtros:</p>
                <select class="bg-white rounded p-2">
                    <option>Centros (1)</option>
                    <option>Centro unico</option>
                </select>
                <input type="date" id="fecha" class="bg-white rounded p-2">
                <select class="bg-white rounded p-2">
                    <option>Día semanal (7)</option>
                    <option>Todos</option>
                    <option>Lunes</option>
                    <option>Martes</option>
                    <option>Miércoles</option>
                    <option>Jueves</option>
                    <option>Viernes</option>
                    <option>Sábado</option>
                    <option>Domingo</option>
                </select>
                <select class="bg-white rounded p-2">
                    <option>Horarios (3)</option>
                    <option>Todos</option>
                    <option>Mañana</option>
                    <option>Tarde</option>
                    <option>Noche</option>
                </select>
                <select class="bg-white rounded p-2">
                    <option>Especialidad (6)</option>
                    <option>Todos</option>
                    <option>Ginecología</option>
                    <option>Dermatología</option>
                    <option>Clínica Médica</option>
                    <option>Cardiología</option>
                    <option>Traumatología</option>
                    <option>Otorrinolaringología</option>
                </select>
            </div>
            <div class="flex items-center">
                <p class="text-white mr-4">Viernes 5, Junio 19:00</p>
                <img src="../../img/foto-perfil.webp" alt="Foto de perfil" class="h-10 w-10 rounded-full mr-2">
                <span class="text-white">Usuario</span>
            </div>
        </div>
    </header>

    <div id="contenedor-principal" class="flex flex-grow">
        <div id="menu-lateral" class="w-64 bg-gray-200 text-white">
            <p class="text-2xl font-bold p-5 text-black">Turnos</p>
                <ul class="space-y-2 p-5">
                    <li>
                        <a href="../principal/solicitar_turno.html" class="block py-2.5 px-4 rounded hover:bg-blue-900 text-black hover:text-white flex items-center">
                            <i class="fas fa-search mr-2"></i> Solicitar turno
                        </a>
                    </li>
                    <li>
                        <a href="../principal/proximos_turnos.html" class="block py-2.5 px-4 rounded hover:bg-blue-900 text-black hover:text-white flex items-center">
                            <i class="fas fa-calendar-alt mr-2"></i> Próximos turnos
                        </a>
                    </li>
                    <li>
                        <a href="../principal/plan_salud.html" class="block py-2.5 px-4 rounded bg-blue-900 flex items-center">
                            <i class="fas fa-solid fa-robot text-white mr-2"></i> Solicitar plan con AI
                        </a>
                    </li>
            </ul>
        </div>

        <main class="flex-grow">
            <div id="bloque" class="bloque-1 bg-blue-900 text-white p-8 rounded-lg w-3/4 mx-auto mt-8 text-center">
                <i class="fa-solid fa-circle-exclamation text-5xl mb-2"></i>
                <h2 class="font-bold text-2xl ">No se encontraron turnos disponibles</h2>
                <div class="text-sm my-3">
                    <p>Estimado paciente, lamentablemente no hay turnos disponibles para esta especialidad.</p>
                    <p>Le sugerimos que intente nuevamente en los próximos días.</p>
                    <p>Agradecemos su comprensión y recomendamos evitar llamadas telefónicas, ya que la oferta de turnos es la misma.</p>
                </div>
                <button style="width: 400px;" class="bg-orange-500 text-white py-3 rounded mt-2">
                    <a href="../principal/proximos_turnos.html">Proximos turnos disponibles</a>
                </button>
            </div>
        </main>
    </div>

    <footer id="footer" class="footer align-items-center">
        <div>© Copyrigth 2024</div>
        <div>Todos los derechos reservados</div>
    </footer>
    <script src="https://kit.fontawesome.com/bf735813b1.js" crossorigin="anonymous"></script>
</body>
</html>

<script>
    window.onload = function() {
        var fecha = new Date();
        var dia = fecha.getDate();
        var mes = fecha.getMonth() + 1;
        var ano = fecha.getFullYear();

        if(dia < 10)
            dia = '0' + dia;

        if(mes < 10)
            mes = '0' + mes;

        var fechaFormateada = ano + '-' + mes + '-' + dia;

        document.getElementById('fecha').value = fechaFormateada;
    }
</script>