/*--------------------------------------------------------------
# ROOT (declarado una sola vez )
--------------------------------------------------------------*/
:root {
    --azul: #013192;
    --azul-dos: hsl(234, 86%, 60%);
    --azul-tres: hsl(234, 87%, 70%);
    --azul-uno: hsl(218, 98%, 22%);
    --fuente: hsl(0, 0%, 27%);
    --background: hsl(220, 100%, 98%);
    --blanco: hsl(0, 0%, 100%);
    --botones: rgb(255, 102, 0);
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
    padding: 20px 0;
    font-size: 14px;
    transition: all 0.3s;
    border-top: 1px solid #cddfff;
    text-align: center;
    color: var(--azul-dos);
}

