body {
    font-family: 'Roboto', sans-serif !important;
}

button {
    cursor: pointer;
    background-color: var(--botones) !important;
}

#bloque{
    background-color: var(--azul) !important;
}

