body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #000000, #013192);
}

.container {
    max-width: 400px;
    width: 100%;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
    overflow: hidden; /* Evita que el gradiente de fondo se extienda más allá del contenedor */
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.inline-text {
    color: #777;
    font-size: 16px;
    margin-bottom: 20px;
}

.inline-text a {
    color: #0066cc;
    text-decoration: none;
}

.inline-text a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

label {
    align-self: flex-start;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
    text-align: left;
}

.input-document,
input[type="email"],
input[type="password"] {
    padding: 12px;
    margin-bottom: 15px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    background-color: coral;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: #004a99;
}

/* Media Query para pantallas más pequeñas (como celulares) */
@media only screen and (max-width: 600px) {
    .container {
        margin: 0rem 2rem;
        padding: 20px;
    }

    h2 {
        font-size: 20px;
    }

    .inline-text {
        font-size: 14px;
    }

    .input-document,
    input[type="email"],
    input[type="password"] {
        padding: 10px;
        font-size: 12px;
    }
}